@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFFD8;
  --fontcolor: #222222;
}

body {
  color: var(--fontcolor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}